
# Disable directory indexing

Options -Indexes
Options +FollowSymLinks
Options -MultiViews

## Windows xampp fix

DirectoryIndex index.php

RewriteEngine on
RewriteBase /

# Disables all access to files and directories, sends all request to index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [L]